* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  line-height: 1.5;
}

.body {
  background-color: rgb(222, 229, 236);
}

.card-block {
  display: inline-block;
}

.card1 {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.card1 img {
  display: inline-block;
  padding: 20px;
  max-height: 300px;
}

.card-text {
  border-top: 3px solid black;
  text-align: center;
  padding: 10px;
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.card-title {
  font-weight: 700;
}

.card-btn {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 5px;
  border: 1px solid rgb(55, 55, 55);
  border-radius: 12px;
  margin: 5px;
  transition:
    background-color 200ms ease,
    transform 200ms ease;
}

.card-btn:hover {
  color: white;
  background-color: rgb(55, 55, 55);
}

.price-tag {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: gold;
  padding: 2px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#ball-tag {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(222, 6, 6);
  padding: 2px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
